<style></style>
<div class="sidebar" id="sidebar">
    <h3><i class="bi bi-menu-button-wide"></i> OwO Farm Bot Stable</h3>

    <h4 class="waiting-connection">
        <span style="color: rgb(238, 255, 0)"
            >Waiting WebSocket Connection</span
        >
        <span class="dots"></span>
    </h4>

    <div class="sidebar-footer">
        <a href="https://github.com/mid0aria/owofarmbot_stable" target="_blank">
            <i class="bi bi-github"></i>
        </a>
        <a href="https://github.com/sponsors/Mid0aria" target="_blank">
            <i class="bi bi-cash-coin"></i>
        </a>
    </div>
</div>
