<div class="popup" id="reboot-popup">
    <div class="popup-header">Reboot FARM BOT</div>
    <div class="popup-body">
        <h1 style="color: red">Are you sure to reboot farm bot ?</h1>
        <button class="btn btn-danger" onclick="sendAction('reboot')">
            Yes
        </button>
        <button class="btn btn-secondary" onclick="closerebootalertPopup()">
            No
        </button>
    </div>
</div>
