<!-- Extra Home Content -->
<div id="home-content-extra" style="display: none">
    <!-- User Info Section -->
    <div class="big-box">
        <div class="small-box">
            <h2 class="text-container">User Info</h2>
            <div class="info-card" id="userinfo-extra">
                <div class="info-card-data">
                    username:
                    <span id="username-extra">çıkaramadım abi kimsin sen</span>
                </div>

                <div class="info-card-data">
                    Nickname:
                    <span id="usernick-extra">çıkaramadım abi kimsin sen</span>
                </div>

                <div class="info-card-data">
                    Farm Bot Status: <span id="bot-status-extra">Stopped</span>
                </div>

                <div class="info-card-data">
                    WebSocket Status:
                    <span id="ws-status-extra">Disconnected</span>
                </div>
            </div>
        </div>

        <div class="small-box">
            <h2 class="text-container">Quest</h2>
            <div class="quest-card" id="quest-extra">
                <div class="quest-card-data">
                    <span id="quest-title-extra">Waiting...</span>
                </div>

                <div class="quest-card-data">
                    <span id="quest-reward-extra">Waiting...</span>
                </div>

                <div class="quest-card-data">
                    <span id="quest-progress-extra">Waiting...</span>
                </div>
            </div>
        </div>

        <div class="small-box">
            <div class="actions-section" id="actions">
                <h2 class="text-container">Actions</h2>
                <div class="action-btns">
                    <button class="btn btn-success btn-custom" onclick="sendAction('start-extra')">
                        Start
                    </button>
                    <button class="btn btn-info btn-custom" onclick="sendAction('pause-extra')">
                        Pause
                    </button>
                    <button class="btn btn-warning btn-custom" onclick="sendAction('resume-extra')">
                        Resume
                    </button>
                    <button class="btn btn-danger btn-custom" onclick="showrebootalertPopup()">
                        Reboot
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Stats Section -->
    <h2 class="text-container">Extra Token Stats</h2>
    <div class="stats-grid">
        <div class="stat-box">
            <span id="hunt-value-extra" class="value">0</span>
            <span class="label">Hunt</span>
        </div>
        <div class="stat-box">
            <span id="battle-value-extra" class="value">0</span>
            <span class="label">Battle</span>
        </div>
        <div class="stat-box">
            <span id="pray-value-extra" class="value">0</span>
            <span class="label">Pray</span>
        </div>
        <div class="stat-box">
            <span id="curse-value-extra" class="value">0</span>
            <span class="label">Curse</span>
        </div>
        <div class="stat-box">
            <span id="huntbot-value-extra" class="value">0</span>
            <span class="label">Huntbot</span>
        </div>
        <div class="stat-box">
            <span id="vote-value-extra" class="value">0</span>
            <span class="label">Vote</span>
        </div>
        <div class="stat-box">
            <span id="giveaway-value-extra" class="value">0</span>
            <span class="label">Giveaway</span>
        </div>
        <div class="stat-box">
            <span id="captcha-value-extra" class="value">0</span>
            <span class="label">Captcha</span>
        </div>
        <div class="stat-box">
            <span id="slot-value-extra" class="value">0</span>
            <span class="label">Slot</span>
        </div>
        <div class="stat-box">
            <span id="coinflip-value-extra" class="value">0</span>
            <span class="label">Coinflip</span>
        </div>
        <div class="stat-box override">
            <span id="cowoncywon-value-extra" class="value">0</span>
            <span class="label">Cowoncy won by gambling</span>
        </div>
        <div class="stat-box highlight">
            <span id="solvedcaptcha-value-extra" class="value">0</span>
            <span class="label">Solved Captcha</span>
        </div>
    </div>
</div>