<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>💖 OwO Farm Bot Stable 💖</title>
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <!-- Bootstrap Icons -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <link href="./assets/css/index.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <h3><i class="bi bi-menu-button-wide"></i> OwO Farm Bot Stable</h3>

            <!-- Main Section -->
            <div id="sidebar-main-section">
                <h4>Main</h4>
                <!-- Main başlığı -->
                <div id="main-menu">
                    <a href="#" id="home-link" onclick="showHome('main')"
                        ><i class="bi bi-house"></i> <span>Home</span></a
                    >
                    <a
                        style="display: none"
                        href="#"
                        id="settings-link"
                        onclick="showSettings('main')"
                        ><i class="bi bi-gear"></i> <span>Settings</span></a
                    >
                </div>
            </div>

            <div id="sidebar-extra-section" style="display: none">
                <h4>Extra</h4>
                <!-- Extra başlığı -->
                <div id="extra-menu">
                    <a href="#" id="home-link-extra" onclick="showHome('extra')"
                        ><i class="bi bi-house"></i> <span>Home</span></a
                    >
                    <a
                        style="display: none"
                        href="#"
                        id="settings-link-extra"
                        onclick="showSettings('extra')"
                        ><i class="bi bi-gear"></i> <span>Settings</span></a
                    >
                </div>
            </div>

            <div
                style="
                    position: absolute;
                    bottom: 100px;
                    left: 20px;
                    color: #b0bec5;
                "
            >
                <i class="bi bi-clock"></i>
                Uptime: <span id="uptime">0d 0h 0m 0s</span>
            </div>
            <!-- GitHub and Sponsor Logos -->
            <div
                style="
                    position: absolute;
                    bottom: 0px;
                    left: 20px;
                    display: flex;
                    gap: 10px;
                "
            >
                <a
                    href="https://github.com/mid0aria/owofarmbot_stable"
                    target="_blank"
                >
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://github.com/sponsors/Mid0aria" target="_blank">
                    <i class="bi bi-cash-coin"></i>
                </a>
            </div>
        </div>

        <div class="content">
            <!-- Main Home Content -->
            <div id="home-content">
                <!-- User Info Section -->
                <div class="userinfo-section" id="userinfo">
                    <h2>User Info</h2>
                    <p>
                        Nickname:
                        <span id="usernick">çıkaramadım abi kimsin sen</span>
                        username:
                        <span id="username">çıkaramadım abi kimsin sen</span>
                    </p>
                    <p>Farm Bot Status: <span id="bot-status">Stopped</span></p>
                    <p>
                        WebSocket Status:
                        <span id="ws-status">Disconnected</span>
                    </p>
                </div>
                <!-- Actions Section -->
                <div class="actions-section" id="actions">
                    <h2>Actions</h2>
                    <div class="action-btns">
                        <button
                            class="btn btn-success btn-custom"
                            onclick="sendAction('start')"
                        >
                            Start
                        </button>
                        <button
                            class="btn btn-danger btn-custom"
                            onclick="sendAction('pause')"
                        >
                            Pause</button
                        ><button
                            class="btn btn-warning btn-custom"
                            onclick="sendAction('resume')"
                        >
                            Resume
                        </button>
                    </div>
                </div>
                <!-- Stats Section -->
                <h2>Stats</h2>
                <div class="stats-grid">
                    <div class="stat-box">
                        <span id="hunt-value" class="value">0</span>
                        <span class="label">Hunt</span>
                    </div>
                    <div class="stat-box">
                        <span id="battle-value" class="value">0</span>
                        <span class="label">Battle</span>
                    </div>
                    <div class="stat-box">
                        <span id="pray-value" class="value">0</span>
                        <span class="label">Pray</span>
                    </div>
                    <div class="stat-box">
                        <span id="curse-value" class="value">0</span>
                        <span class="label">Curse</span>
                    </div>
                    <div class="stat-box">
                        <span id="huntbot-value" class="value">0</span>
                        <span class="label">Huntbot</span>
                    </div>
                    <div class="stat-box">
                        <span id="vote-value" class="value">0</span>
                        <span class="label">Vote</span>
                    </div>
                    <div class="stat-box">
                        <span id="giveaway-value" class="value">0</span>
                        <span class="label">Giveaway</span>
                    </div>
                    <div class="stat-box">
                        <span id="captcha-value" class="value">0</span>
                        <span class="label">Captcha</span>
                    </div>
                    <div class="stat-box highlight">
                        <span id="solvedcaptcha-value" class="value">0</span>
                        <span class="label">Solved Captcha</span>
                    </div>
                </div>
            </div>

            <!-- Main Settings Content -->
            <div id="settings-content" style="display: none">
                <ul class="nav nav-tabs mb-4">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            data-bs-toggle="tab"
                            href="#commands"
                            >Commands</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#general"
                            >General Settings</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            data-bs-toggle="tab"
                            href="#gambling"
                            >Gambling</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#captcha"
                            >Captcha</a
                        >
                    </li>
                </ul>

                <div class="tab-content">
                    <!-- Commands Tab -->
                    <div class="tab-pane fade show active" id="commands">
                        <div class="settings-section">
                            <h4>Basic Commands</h4>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="huntCommand"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="huntCommand"
                                        >Hunt</label
                                    >
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="battleCommand"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="battleCommand"
                                        >Battle</label
                                    >
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="prayCommand"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="prayCommand"
                                        >Pray</label
                                    >
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="curseCommand"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="curseCommand"
                                        >Curse</label
                                    >
                                </div>
                            </div>

                            <h4>Huntbot Settings</h4>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="huntbotEnable"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="huntbotEnable"
                                        >Enable Huntbot</label
                                    >
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Max Time</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="huntbotMaxTime"
                                        value="10"
                                    />
                                </div>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="huntbotUpgrade"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="huntbotUpgrade"
                                        >Auto Upgrade</label
                                    >
                                </div>
                                <select class="form-select" id="upgradeType">
                                    <option value="duration">Duration</option>
                                    <option value="efficiency">
                                        Efficiency
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- General Settings Tab -->
                    <div class="tab-pane fade" id="general">
                        <div class="settings-section">
                            <h4>General Settings</h4>
                            <div class="mb-3">
                                <label class="form-label">OwO Prefix</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="owoPrefix"
                                    value="owo"
                                />
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="discordRPC"
                                />
                                <label class="form-check-label" for="discordRPC"
                                    >Discord RPC</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="chatFeedback"
                                />
                                <label
                                    class="form-check-label"
                                    for="chatFeedback"
                                    >Chat Feedback</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="autoPhrases"
                                />
                                <label
                                    class="form-check-label"
                                    for="autoPhrases"
                                    >Auto Phrases</label
                                >
                            </div>
                        </div>
                    </div>

                    <!-- Gambling Tab -->
                    <div class="tab-pane fade" id="gambling">
                        <div class="settings-section">
                            <h4>Coinflip Settings</h4>
                            <div class="mb-3">
                                <label class="form-label">Default Amount</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    id="cfDefaultAmount"
                                    value="1000"
                                />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Max Amount</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    id="cfMaxAmount"
                                    value="250000"
                                />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Multiplier</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    id="cfMultiplier"
                                    value="1.0"
                                    step="0.1"
                                />
                            </div>
                        </div>
                    </div>

                    <!-- Captcha Tab -->
                    <div class="tab-pane fade" id="captcha">
                        <div class="settings-section">
                            <h4>Captcha Settings</h4>
                            <div class="form-check mb-2">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="autoSolve"
                                />
                                <label class="form-check-label" for="autoSolve"
                                    >Auto Solve</label
                                >
                            </div>
                            <div class="mb-3">
                                <label class="form-label"
                                    >Auto Solve Threads</label
                                >
                                <input
                                    type="number"
                                    class="form-control"
                                    id="autoSolveThread"
                                    value="1"
                                />
                            </div>
                            <h5>Alert Settings</h5>
                            <div class="mb-3">
                                <div class="form-check mb-2">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="webhookAlert"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="webhookAlert"
                                        >Webhook Alert</label
                                    >
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"
                                        >Webhook URL</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="webhookUrl"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Extra Home Content -->
            <div id="home-content-extra" style="display: none">
                <!-- User Info Section -->
                <div class="userinfo-section" id="userinfo">
                    <h2>User Info</h2>
                    <p>
                        Nickname:
                        <span id="usernick-extra"
                            >çıkaramadım abi kimsin sen</span
                        >
                        username:
                        <span id="username-extra"
                            >çıkaramadım abi kimsin sen</span
                        >
                    </p>
                    <p>
                        Farm Bot Status:
                        <span id="bot-status-extra">Stopped</span>
                    </p>
                    <p>
                        WebSocket Status:
                        <span id="ws-status-extra">Disconnected</span>
                    </p>
                </div>
                <!-- Actions Section -->
                <div class="actions-section" id="actions">
                    <h2>Actions</h2>
                    <div class="action-btns">
                        <button
                            class="btn btn-success btn-custom"
                            onclick="sendAction('start-extra')"
                        >
                            Start
                        </button>
                        <button
                            class="btn btn-danger btn-custom"
                            onclick="sendAction('pause-extra')"
                        >
                            Pause</button
                        ><button
                            class="btn btn-warning btn-custom"
                            onclick="sendAction('resume-extra')"
                        >
                            Resume
                        </button>
                    </div>
                </div>
                <!-- Stats Section -->
                <h2>Extra Token Stats</h2>
                <div class="stats-grid">
                    <div class="stat-box">
                        <span id="hunt-value-extra" class="value">0</span>
                        <span class="label">Hunt</span>
                    </div>
                    <div class="stat-box">
                        <span id="battle-value-extra" class="value">0</span>
                        <span class="label">Battle</span>
                    </div>
                    <div class="stat-box">
                        <span id="pray-value-extra" class="value">0</span>
                        <span class="label">Pray</span>
                    </div>
                    <div class="stat-box">
                        <span id="curse-value-extra" class="value">0</span>
                        <span class="label">Curse</span>
                    </div>
                    <div class="stat-box">
                        <span id="huntbot-value-extra" class="value">0</span>
                        <span class="label">Huntbot</span>
                    </div>
                    <div class="stat-box">
                        <span id="vote-value-extra" class="value">0</span>
                        <span class="label">Vote</span>
                    </div>
                    <div class="stat-box">
                        <span id="giveaway-value-extra" class="value">0</span>
                        <span class="label">Giveaway</span>
                    </div>
                    <div class="stat-box">
                        <span id="captcha-value-extra" class="value">0</span>
                        <span class="label">Captcha</span>
                    </div>
                    <div class="stat-box highlight">
                        <span id="solvedcaptcha-value-extra" class="value"
                            >0</span
                        >
                        <span class="label">Solved Captcha</span>
                    </div>
                </div>
            </div>

            <!-- Extra Settings Content -->
            <div id="settings-content-extra" style="display: none">
                <p>31 parfüm şişe ve pipi</p>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="./assets/js/index.js"></script>
        <script>
            animateTitle("❤️ OwO Farm Bot Stable ❤️");
        </script>
    </body>
</html>
